*{
    margin: 0;
    padding: 0;
}
.main-character{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.main-character .charname{
    font-weight: 600;
    font-size: 40px;
}

.main-character img{
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}
.main-character p{
    text-wrap: wrap;
}